* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Utility */


/* Header */
header {
    height: 98px;
}

/* Main */

main {
    max-width: 978px;
    margin: 0 auto;
}